@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400&display=swap');

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.main {
  $self: '&';

  #{$self}-header {
    .navbar {
      #{$self}-brand {
        >img {
          width: 162px;
        }
      }
    }
  }

  #{$self}-footer {
    padding: 25px 0 25px;

    #{$self}__copyrigt {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
    }
  }

  #{$self}-cars-bg {
    $self: '&';

    background-image: url("../autobilis-background.png");
    background-size: cover;
    background-position: center;
    min-height: 250px;

    #{$self}__title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-align: center;
      color: white
    }
  }
}

.cars {
  $self: '&';

  #{$self}--suggestions {
    padding-bottom: 10px;
  }

  #{$self}-suggestions {
    padding-left: 0;
    padding-right: 16px;
    margin-right: -3px;

    #{$self}:hover {
      .cars-suggestions__image {
        background-color: #000000;

        >img {
          opacity: 0.3;
        }

        .search-icon {
          visibility: visible;
          opacity: 1;
        }
      }

      .cars-suggestions__detail {
        background: #000;
      }
    }

    #{$self}__image {
      width: 100%;

      .search-icon {
        position: absolute;
        top: 20%;
        left: 35%;
        visibility: hidden;
        width: 58px;
        height: 58px;
        z-index: 2;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    #{$self}__detail {
      background-color: #df1d38;
      color: #ffffff;
      text-align: center;
      padding-bottom: 10px;
      font-size: 15px;
      border-right: solid 1px #cccccc;
      border-left: solid 1px #cccccc;
      border-bottom: solid 1px #cccccc;
      min-height: 118px;
      height: 118px;

      #{$self}-price {
        display: block;
        margin: 0 5px;
        line-height: 33px;
        border-bottom: 1px solid #ffffff;
        font-size: 18px;
      }

      #{$self}-manufacture {
        display: block;
        margin-top: 8px;
      }

      #{$self}-model {
        display: block;
        margin-bottom: 5px;
      }

      #{$self}-specification {
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.adverts {
  $self: '&';

  #{$self}-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #ccc;
    border: 1px solid #a7a3a3;

    #{$self}__brand {
      position: absolute;
      padding: 2px;
      top: 0;
      left: 0;
      background-color: #444;
      text-transform: uppercase;
      font-size: 10px;
      color: #fff;
    }

    #{$self}__text {
      font-size: 25px;
      font-weight: 300;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}